body {
    margin: 0;
    overflow: hidden;
}

#glCanvas,
#uiCanvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: block;
}

#uiCanvas {
    pointer-events: none; /* allow clicking through */
}
